<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helptabteam.helptab">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".generated.QuoteProvider"
            android:authorities="com.helptabteam.helptab.QuoteProvider" />
        <activity android:name=".EmergencyContact" />
        <receiver android:name="com.helptabteam.helptab.Notificationmassage"></receiver>
        <activity android:name=".HomeActivity"
            android:label="  HelpTab"/>
        <activity android:name=".AddNewDescription"
            android:label="  HelpTab"></activity>
    </application>

</manifest>